* {
  margin: 0;
  padding: 0;
}

h1 {color: #525252;}

blockquote {
  font-family: comic sans ms;     /*choose from Web Safe Font*/
  font-size: 16px;
  font-weight: 100;
  
  /*same as above
  font: 100 16px comic sans ms; */
  
  line-height: 1.6em; /*標準的な行間*/
}

.header {height: 50px; 
  background-color: #dadada;
 }

.header h1{
  text-align: center;
}

.main {
  background-color: #f4f4f4;
  width: 80%;                   /*not kind to various devices if using px */
  margin: auto;
}

#list {
  border: 3px solid #294294;
  border-radius: 10px;          /*round-corners*/
  padding: 5px;
  margin: 10px;
  list-style: none;
}

.my-form{
  padding: 5% 10% 10% 10%;　/*top right bottom left*/
}

.my-form input[type="text"], input[type="mail"], textarea{
  margin-bottom: 10px;
  width: 50%;
}

.my-form input[type="number"], input[type="date"], select{
  margin-bottom: 10px;
}

.my-form input[type="submit"]{
  margin-top: 10px;
  background-color: #333;
  color: #fff;
}

.footer {height: 100px;
  background-color: #333;
  color: #f4f4f4;
}

table {color: #dadada;}


/*attempt2-1*/

.box li {
  list-style: none;
  float: left;
  padding: 1%;
  width: 33.3%;
  box-sizing: border-box; /*adjusting the width including padding and border*/
} 

.clr {
  clear: both;             /*invalidate float*/
}

.block {
        float: left;
        width: 70%;}
.box2 {
        float: right;
        width: 30%;
        background-color: #ddd;
        padding: 1%;
        box-sizing: border-box;
}
.box2 li {
  list-style: none;
  box-sizing: border-box;
  text-align: right;}

.p-box {
  width: 300px;
  height: 300px;
  border: 1px solid #000;
  margin: 10px; 
  float: left;
  box-sizing: border-box; 
}

.frame1 {
  background-image: url(item/k0132_1.png);
  background-position: center top; 
  background-repeat: no-repeat;     /*no repeat even if the img is smaller than the frame*/
  background-position: center top;    /*locating, holizontally and vertically*/    
}

.frame2 {
  background-image: url(item/k0132_1.png);
  background-position: center center; 
}
.my-list li:first-child{
  background: red;
}

.my-list li:last-child{
  background: purple;
}

.my-list li:nth-child(7){
  background: green;
}

.my-list li:nth-child(even){
  background: grey;
}
.frame3 {
  background-image: url(item/k0132_1.png);
  background-position: left top; 
}

.my-list li:first-child{
  background: red;
}

.my-list li:last-child{
  background: purple;
}

.my-list li:nth-child(7){
  background: green;
}

.my-list li:nth-child(even){
  background: grey;
}


.chaser {
  position: fixed;
  top:500px;                  /*chasing by top 500px*/
  border: 1px dotted #294294;
}


